.listItem :global(.vtex-button) {
  background-color: transparent;
  font-family: monospace;
  font-size: 1.4rem;
  color: #fff;
  margin: 0;
  padding: 0;
  align-items: bottom;
}
.listItemActive :global(.vtex-button) {
  border: none;
  color: #59FF00;
  border-bottom: 2px solid #59FF00;
  border-radius: 0;
}
.listContainer--header {
  background-color: #212121;
  box-shadow: 5px 5px 9px -4px #000000;
  margin: 0;
  width: 100vw;
  z-index: 998;
  margin-bottom: 30px;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #212121;
}