
.flexRowContent--footer {
    background-color: #424242;
    margin-top: 20px;
    padding-top: 20px;
}

.flexRowContent--main-header-mobile {
    background-color: #212121;
}

.flexRowContent--footer--

.flexRowContent--iconLogin{
    height: 50px;
    width: 50px;
}

.flexRow--footer {
    width: 100%;
    height: 60px;
}